<%= @user.errors.full_messages.join(", ") %>

<%= form_for @user, url: {action: :update_password}  do |f| %>

  <div>
    <%= f.label "Current password" %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label "New password" %>
    <%= f.password_field :new_password %>
  </div>
  <div>
    <%= f.label "New password confirmation" %>
    <%= f.password_field :new_password_confirmation %>
  </div>
  <%= f.submit %>
<% end %>
