<%= @post.errors.full_messages.join(", ") %>
<h1>Create a new post</h1>

<%= form_for @post do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label "Category:" %>
    <%= f.collection_radio_buttons :category_id, Category.all, :id, :title %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div>
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <div>
    <%= f.submit %>
  </div>

<% end %>
