<%= @post.errors.full_messages.join(", ") %>
<h1>Create a new post</h1>

<%= simple_form_for @post, html: { class: 'form-inline' } do |f| %>
    <%= f.input :title, class: "form-control" %>
    <%= f.collection_radio_buttons :category_id, Category.all, :id, :title %>
    <%= f.input :body, class: "form-control" %>
    <%= f.input :image %>
    <%= f.submit %>
  </div>

<% end %>
