<%= @post.errors.full_messages.join(", ") %>
<h1>Create a new post</h1>

<%= simple_form_for @post do |f| %>
    <%= f.input :title %>
    <%= f.collection_radio_buttons :category_id, Category.all, :id, :title, class: "icons radio" %>
    <%= f.input :body %>
    <%= f.input :image %>
    <%= f.submit %>
  </div>

<% end %>
