<!DOCTYPE html>
<html>
<head>
  <title>Cerize Santos</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
</head>
<body class="bgimage">

  <!-- header -->
  <div class="">
    <%= render 'layouts/navbar' %>
  </div>
<!-- end of header -->




<div class="container yield-black">
  <% if flash[:notice] %>
  <div class=”notice”>
    <%= flash[:notice] %>
  </div>
  <% end %>

  <% if flash[:alert] %>
  <div class=”alert”>
    <%= flash[:alert] %>
  </div>
  <% end %>
  <%= yield %>
</div>

</body>
</html>
